.toast-container .bg-success .toast-body, .toast-container .bg-danger .toast-body, .toast-container .bg-warning .toast-body{
  color: white;
}
.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-image-container, .signin-image-container{
  border: 1px solid #dee2e6;
}
.signup-form-container, .signin-form-container{
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 768px) {
  /* .container{
    width: 90% !important;
  } */
  .signup-image-container, .signin-image-container{
    display: none;
  }
  .signup-form-container, .signin-form-container{
    border-left: 1px solid #dee2e6;
  }
}